
<!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tvshows</title>
        <body>
            <h3 style="text-align: center;">Results</h3>
            
            <div style="width:600px; margin:auto;" >
              <input class="form-control glyphicon glyphicon-search" id ="input" type="text" onkeyup="myFunction()" placeholder="Movies Search..." style="width: 500px;margin-left: 70px; margin-bottom: 50px; margin-top: 30px;height: 40px; border-radius: 20px; border-style: solid; " autofocus=False >
              
                <ul id="ul" class="listgroup" style="text-align: center;">
                   {% for listitem in list %} 

                   <li class="list-group-item">{{listitem}}</li>
                   {% endfor%}
                </ul>
            </div>
            

            <script>
              function myFunction() {
                
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('input');
                filter = input.value.toUpperCase();
                ul = document.getElementById("ul");
                li = ul.getElementsByTagName('li');
              
                for (i = 0; i < li.length; i++) {
                  a = li[i]
                  txtValue = a.textContent || a.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                  } else {
                    li[i].style.display = "none";
                  }
                }
              }
              </script>     
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        </body>
     </head>
     
</html>